#menu {
    height: 100vh;
    width: 100vw;
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 3fr;
    overflow: hidden;
}

#menu-links {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#menu-logo img {
    width: 60%;
    margin-left: 4%;
}

#menu-links h1 {
    font-size: 3vw !important;
    text-align: center;
}

#menu-links z-link {
    font-size: 1.5vw;
}

.z-link-p {
    margin-top: 1rem;
}

#author {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 150;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #4e54c8;
    flex-direction: column;
}

#author h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 200;
}

.author-heart {
    margin-top: 0.1rem;
    margin-left: 0.3rem;
    color: tomato;
}

#next {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 2rem;
    animation-iteration-count: infinite;
    opacity: 0.2;
    animation: 2s linear 0s infinite alternate blink_anim;
}

@keyframes blink_anim {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}